# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data and Outputs (Protecting local files and data privacy)
*.csv
*.xlsx
*.parquet
*.png
*.jpg
*.jpeg
/data
/results
/keep

# Virtual Environments
venv/
.venv/
env/

# Environment data
.env

# Results and logs
logs/
*.log

# OS metadata
.DS_Store
Thumbs.db

# Jupyter Notebook
notebooks/
.ipynb_checkpoints/
